@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.btn-primary {
	background-color: #6648b1;
	border: 1px solid #563d7c;
}

.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.jumbotron hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
}

.padding {
	padding-bottom: 2rem;
}

.social a {
	font-size: 3rem;
	padding: 3rem;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

/*--- Media Queries ---*/

/*--- Firefox bug fix ---*/

.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

#slides {
}

